.article {
	&-header {
		width: 100vw;
		.img-inner {
			height: clamp(300px, calc(50 * var(--vh, 1vh)), 850px);
			position: relative;
			z-index: 2;
		}

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
		h1 {
			position: relative;
			z-index: 1;
			margin-top: min(2vw, 2rem);
		}

		.container {
			width: 90vw;
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 8vw;
		}

		h2 {
			text-transform: uppercase;
			font-size: clamp(2rem, 2vw, 5rem);
		}

		h2 + p {
			margin-top: 2rem;
		}
		p + p {
			margin-top: 1rem;
		}

		a {
			display: block;
			margin-top: 150vh;
		}
	}
}

.article-header[data-scroll-section] {
	h1 {
		margin-top: clamp(50px, 15vw, 3rem);
	}
}
