.cursor {
	&__inner,
	&__outer,
	&__text {
		pointer-events: none !important;
		position: fixed;
		top: 0;
		left: 0;
		transform: translate3d(-50%, -50%, 0);
		z-index: 999;
		// mix-blend-mode: difference;
	}
	&__inner {
		$s: 0.5rem;
		width: #{$s};
		height: #{$s};
		background-color: var(--clr-text);
		border-radius: 999px;
	}
	&__outer {
		width: 3rem;
		height: 3rem;
		border: 1px solid var(--clr-text);
		border-radius: 999px;
	}
	&__text {
		margin-top: 2rem;
		transform: translateX(100%);
		line-height: 1;
		color: var(--clr-text);
		font-size: 2rem;
		opacity: 0;
		transition: opacity 0.5s ease-in;
		&.visible {
			opacity: 1;
		}
	}
}
