@import "./base/variable", "./base/reset";
@import "./components/navbar", "./components/cursor", "./components/article",
	"./components/image";

// body {
// 	cursor: none;
// }

.hide {
	display: none;
	pointer-events: none;
}

[data-scroll-section] {
	h1 {
		text-transform: uppercase;
		margin-top: 15vw;
		margin-bottom: 5vw;
		font-weight: 500;
		font-size: 9.2vw;
		width: 90vw;
		margin-left: auto;
		margin-right: auto;
		line-height: 1;
		span:first-child {
			text-align: left;
		}
		span {
			width: 100%;
			display: inline-block;
			text-align: right;
		}
	}

	.hero {
		width: 90vw;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5vw;
		margin-bottom: 10vw;
		h2 {
			text-transform: uppercase;
			font-weight: 500;
			font-size: 1.5rem;
			margin-bottom: 2vw;
		}
		p {
			letter-spacing: 0.04rem;
		}
	}
}

.ending {
	padding-top: 10vw;
	padding-bottom: 10vw;
	@media screen and (min-width: 769px) {
		margin-bottom: 0;
		padding-top: 5rem;
		padding-bottom: 4rem;
	}
}
.separator {
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
	height: 2px;
	margin-top: 5vw;
	margin-bottom: 5vw;
	&.last {
		// margin-bottom: 0;
		margin-bottom: 5vw;
		@media screen and (min-width: 769px) {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	background-color: var(--clr-text);
}
